*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-size: 62.5%;
  font-family: sans-serif;
}
main{
  width: 100%;
  padding: 50px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
h1{
  font-size: 6vw;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  margin: 0px;
}
h2{
  font-size: 1.2vw;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
}
p{
  font-size: 2vw;
  color: hsl(0, 0%, 41%);
}
li{
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
li:hover{
  background-color: hsl(0, 0%, 95%);
}
.wrapper{
  height: 100%;
  width: 100%;
}
.logo{
  cursor: pointer;
}
.hamIcon{
  display: none;
}
.closeIcon{
  display: none;
}
.upIcon{
  display: none;
}
.upIcons{
  display: none;
}
.linksGroup{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.linksWrapper{
  display: flex;
  justify-content: space-between;
  background-color: red;
  width: 100%;
}
.info{
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  position: relative;
}
.textContent{
  width: 36vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.textContent p{
  font-size: 3rem;
}
.heroSection{
  width: 40%;
  height: 80vh;
}
.logDetails{
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
.logDetails p{
  font-size: 1.2vw;
}
.logBtn{
  cursor: pointer;
}
.regBtn{
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 8%);
  padding: 10px 15px;
  border-radius: 10px;
}
.heroSection img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mobile{
  display: none;
}
.learnBtn{
  background-color: hsl(0, 0%, 8%);
  padding: 10px 15px;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
}
.learnBtn p{
  color: hsl(0, 0%, 98%);
}
.featuresList{
  display: none;
  padding: 10px 20px;
  height: 20vh;
  justify-content: space-around;
  align-content: center;
  text-align: start;
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  flex-direction: column;
  position: absolute;
  left: 0%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
}
.companyList{
  display: none;
  padding: 10px 20px;
  height: 15vh;
  justify-content: space-around;
  align-content: center;
  text-align: start;
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  flex-direction: column;
  position: absolute;
  left: 30%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
}
.featuresList p{
  font-size: 1vw;
  margin-left: 15px;
}
.featuresList img{
  width: 15%;
  height: 100%;
  object-fit: contain;
}
.companyList p{
  font-size: 1vw;
  margin-left: 15px;
}
.companyList{
  display:none
}
.tulip{
  display: flex;
  align-items: center;
}
.tulip img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 5px;
}







@media screen and (max-width: 768px) {
  .textContent p{
    font-size: 4vw;
  }
  h2{
    font-size: 2vw;
  }
  .featuresList p{
    font-size: 2vw;
  }
  .companyList p{
    font-size: 2vw;
  }
  .info {
    width: 65%;
}
  
}
@media screen and (max-width: 530px) {
  .linksGroup{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    position: fixed;
    z-index: 2;
    width: 70vw;
    justify-content: start;
    padding: 5vh 3.5vw 0vh 3.5vw;
    height: 100%;
    left: 140%;
    top: 0%;
    box-shadow: -170px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .linksGroup.show{
    left: 30%;
    box-shadow: -170px 0px 0px rgba(0, 0, 0, 0.5);
  }
  ul{
    width: 40vw;
  }
  .hamIcon{
    display: block;
  }
  .closeIcon{
    display: block;
    padding-left: 90%;
  }
  .info{
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }
  .info h2{
    font-size: 4vw;
    margin: 10px;
  }
  .logDetails{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  .logDetails p{
    font-size: 4vw;
  }
  .regBtn{
    padding: 10px 30%;
    margin-top: 20px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  main{
    width: 100vw;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  h1{
    font-size: 3rem;
    margin: 20px;
  }
  .textContent{
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .dskTop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .heroSection{
    width: 100%;
    height: 40%;
  }
  .heroSection img{
    width: 100%;
    margin: 40px 0px;
  }
  .learnBtn{
    margin: 15px;
  }
  .companyList{
    position: relative;
    left: 0%;
    box-shadow: none;
  }
  .featuresList{
    position: relative;
    box-shadow: none;
  }
  .companyList p{
    font-size: 4vw;
    margin-left: 0px;
  }
  .featuresList p{
    font-size: 3.5vw;
  }
  .tulip img{
    width: 10%;
    height: 100%;
  }
}

@media screen and (max-width: 376px) {
  .linksGroup{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    position: fixed;
    z-index: 2;
    width: 70vw;
    justify-content: start;
    padding: 5vh 3.5vw 0vh 3.5vw;
    height: 100%;
    left: 240%;
    top: 0%;
    box-shadow: -170px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.85s ease-in-out;
  }
  .linksGroup.show{
    left: 30%;
    box-shadow: -170px 0px 0px rgba(0, 0, 0, 0.5);
  }
  .hamIcon{
    display: block;
  }
  .closeIcon{
    display: block;
    padding-left: 90%;
  }
  .info{
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }
  .info h2{
    font-size: 4vw;
    margin: 10px;
  }
  .logDetails{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  .logDetails p{
    font-size: 4vw;
  }
  .regBtn{
    padding: 10px 30%;
    margin-top: 20px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  main{
    width: 100vw;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  h1{
    font-size: 3rem;
    margin: 20px;
  }
  .textContent{
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .dskTop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .heroSection{
    width: 100%;
    height: 40%;
  }
  .heroSection img{
    width: 100%;
    margin: 40px 0px;
  }
  .learnBtn{
    margin: 15px;
  }
  .companyList{
    position: relative;
    box-shadow: none;
  }
  .companyList p{
    margin-left: 0px;
  }
  .featuresList{
    position: relative;
    box-shadow: none;
    font-size: 3.5vw;
  }
}