*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-size: 62.5%;
  font-family: sans-serif;
}
main{
  width: 100%;
  padding: 50px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
h1{
  font-size: 6vw;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  margin: 0px;
}
h2{
  font-size: 1.2vw;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
}
p{
  font-size: 2vw;
  color: hsl(0, 0%, 41%);
}
.wrapper{
  height: 100%;
  width: 100%;
}
.logo{
  cursor: pointer;
}
.hamIcon{
  display: none;
}
.closeIcon{
  display: none;
}
.linksGroup{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.linksWrapper{
  display: flex;
  justify-content: space-between;
  background-color: red;
  width: 100%;
}
.info{
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}
.textContent{
  width: 36vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.textContent p{
  font-size: 3rem;
}
.heroSection{
  width: 40%;
  height: 80vh;
}
.logDetails{
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
.logDetails p{
  font-size: 1.2vw;
}
.logBtn{
  cursor: pointer;
}
.regBtn{
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 8%);
  padding: 10px 15px;
  border-radius: 10px;
}
.heroSection img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mobile{
  display: none;
}
.learnBtn{
  background-color: hsl(0, 0%, 8%);
  padding: 10px 15px;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
}
.learnBtn p{
  color: hsl(0, 0%, 98%);
}
.featuresList{
  display: none;
}
.companyList{
  display:none
}







@media screen and (max-width: 768px) {
  .textContent p{
    font-size: 4vw;
  }
}
@media screen and (max-width: 530px) {
  .linksGroup{
    display: none;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    position: absolute;
    z-index: 2;
    width: 70vw;
    justify-content: start;
    overflow: hidden;
    padding: 5vh 3.5vw 0vh 3.5vw;
    height: 100%;
    left: 30%;
    top: 0%;
    overflow: hidden;
  }
  .hamIcon{
    display: block;
  }
  .closeIcon{
    display: block;
    padding-left: 90%;
  }
  .info{
    flex-direction: column;
    align-items: flex-start;
    height: 20vh;
  }
  .info h2{
    font-size: 4vw;
  }
  .logDetails{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  .logDetails p{
    font-size: 4vw;
  }
  .regBtn{
    padding: 10px 30%;
    margin-top: 20px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  main{
    width: 100vw;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  h1{
    font-size: 3rem;
    margin: 20px;
  }
  .textContent{
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .dskTop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .heroSection{
    width: 100%;
    height: 40%;
  }
  .heroSection img{
    width: 100%;
    margin: 40px 0px;
  }
  .learnBtn{
    margin: 15px;
  }
}

@media screen and (max-width: 376px) {
  .linksGroup{
    display: none;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
    position: absolute;
    z-index: 2;
    width: 70vw;
    justify-content: start;
    overflow: hidden;
    padding: 5vh 3.5vw 0vh 3.5vw;
    height: 100%;
    left: 30%;
    top: 0%;
  }
  .hamIcon{
    display: block;
  }
  .closeIcon{
    display: block;
    padding-left: 90%;
  }
  .info{
    flex-direction: column;
    align-items: flex-start;
    height: 20vh;
  }
  .info h2{
    font-size: 4vw;
  }
  .logDetails{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  .logDetails p{
    font-size: 4vw;
  }
  .regBtn{
    padding: 10px 30%;
    margin-top: 20px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  main{
    width: 100vw;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  h1{
    font-size: 3rem;
    margin: 20px;
  }
  .textContent{
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .dskTop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .heroSection{
    width: 100%;
    height: 40%;
  }
  .heroSection img{
    width: 100%;
    margin: 40px 0px;
  }
  .learnBtn{
    margin: 15px;
  }
}